<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Excercise List</h1>
    <ol id="list"></ol>

    <form
      hx-post="/addwo/addex"
      hx-trigger="submit"
      hx-target="#list"
      hx-swap="beforeend"
    >
      <label for="exName">Enter Ex:</label>
      <input type="text" name="exName" required />
      <br />

      <label for="exRep">Reps:</label>
      <input type="number" name="exRep" required />
      <br />

      <label for="exSet">Sets:</label>
      <input type="number" name="exSet" required />
      <br />

      <button type="submit">Add</button>
    </form>
  </body>
</html>
