<!doctype html>
<html lang="en">
  <head>
    <title>JimD</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <h1>JimD</h1>
    <!-- <h3>That which does not kill us makes us stronger</h3> -->
    <div id="but">
      <button type="button" hx-get="/addwo" hx-target="#but" hx-push-url="true">
        Workout
      </button>

      <br />
      <br />

      <button
        type="button"
        hx-get="/settings"
        hx-target="#but"
        hx-push-url="true"
      >
        Settings
      </button>
    </div>

    <a href="index.html"> Home </a>
  </body>
</html>
