<!doctype html>
<html lang="en">
  <head>
    <title>JimD</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <div id="but">
      <button type="button" hx-get="/addwo" hx-target="#but" hx-push-url="true">
        Plan Workout
      </button>

      <br />
      <br />

      <button type="button">Track</button>

      <br />
      <br />

      <button type="button">File Location</button>
    </div>
  </body>
</html>
