<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <h1>Settings :</h1>

    <form hx-post="/settings/locn" hx-trigger="submit" hx-target="#locn">
      <!-- <label for="file_location">Select File :</label> -->
      <!-- <input -->
      <!--   type="file" -->
      <!--   name="file_location" -->
      <!--   accept=".txt, .pdf, .docx" -->
      <!--   required -->
      <!-- /> -->
      <label for="file_locn"> Enter File path : </label>
      <input type="text" name="file_locn" required />
      <br />
      <br />

      <button type="submit">Submit</button>
    </form>
    <h3>File location :-</h3>
    <div id="locn">{{.}}</div>
  </body>
</html>
